*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(107, 107, 206);
    text-align: center;
    padding: 10% 30%; 
}
.box{
    width: 800px;
    height: 500px;
    background-color: rgb(6, 6, 136);
    color: white;
    border-radius: 30px ;
    padding: 90px;
    text-align: center;
}
h2{
    font-size: 40px;
    margin-bottom: 50px;
}
.input{
    width: 400px;
    height: 50px;
    font-size: 25px;
    padding: 0px 10px;
    border: none;
    
}
.add_task{
    width: 90px;
    height: 50px;
    
    font-size: 20px;
    background-color: rgb(241, 94, 94);
    color: white;
    border: none;
}
.word{
    font-style: none;
    font-size: 25px;
display: flex;
justify-content: space-between;
align-items: center;
width: 500px;
margin-left: 60px;
margin-top: 30px;
}


.dltbtn{
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    
}

